[user]
	name = 
	email = 

[color]
    diff = auto
    status = auto
    branch = auto

[color "diff"]
    meta = yellow

[core]
    editor = vim
    pager = less -FXRS
	excludesfile = /Users/stu/.gitignore_global

[apply]
    whitespace = nowarn

[alias]
    whatsnew = log origin/master@{1}..origin/master@{0}

    # http://stackoverflow.com/a/17271844/217652
    dn = "!sh -c 'if [ $# -eq 0 ] ; then git diff HEAD~1 HEAD ; else git diff HEAD~`expr $1 + 1` HEAD~$1 ; fi' -"


    su = status -u
    s = status
    log = log --decorate --graph --date=short
    l = log
    changes = log --pretty=format:\"%h %cr %cn %Cgreen%s%Creset\" --name-status
    short = log --pretty=format:\"%h %cr %cn %Cgreen%s%Creset\"
    changelog = log --pretty=format:\" * %s\"
    shortnocolor = log --pretty=format:\"%h %cr %cn %s\"

	lgf = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

    lg   = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
    lg2  = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)'
    lol  = log --graph --pretty=oneline --abbrev-commit --decorate
    lola = log --graph --pretty=oneline --decorate --abbrev-commit --all


    co = checkout
    st = !"git status | sed '/Untracked files/q'"


    graphviz = "!f() { echo 'digraph git {' ; git log --pretty='format:  %h -> { %p }' \"$@\" | sed 's/[0-9a-f][0-9a-f]*/\"&\"/g' ; echo '}'; }; f"

    tree = "forest --pretty=format:\"%C(red)%h %C(magenta)(%ar) %C(blue)%an %C(reset)%s\" --style=15 --reverse"
	switch = !legit switch \"$@\"
	branches = !legit branches
	sprout = !legit sprout \"$@\"
	unpublish = !legit unpublish \"$@\"
	harvest = !legit harvest \"$@\"
	sync = !legit sync \"$@\"
	publish = !legit publish \"$@\"
	graft = !legit graft \"$@\"

    dmno = diff --name-only master

[help]
	autocorrect = 0

[status]
    showUntrackedFiles = no # git 1.7.1+

[github]
	user = sente

[push]
	default = simple

[heroku]
	account = levelup

[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
